* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #020617;
    color: #fff;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.logo span {
    color: #38bdf8;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.active {
    color: #38bdf8;
}

/* ABOUT PROJECT */
.about-project {
    padding: 80px 60px;
    text-align: center;
}

.about-project .intro {
    max-width: 800px;
    margin: 20px auto 60px;
    opacity: 0.85;
}

.features {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-card {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    width: 300px;
    border-radius: 20px;
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: translateY(-10px);
}

/* CREATOR */
.creator {
    padding: 80px 20px;
    background: radial-gradient(circle at top, #0f172a, #020617);
    text-align: center;
}

.creator-card {
    margin-top: 40px;
    background: rgba(255,255,255,0.06);
    padding: 40px;
    max-width: 450px;
    margin-inline: auto;
    border-radius: 25px;
    box-shadow: 0 0 40px rgba(56,189,248,0.15);
}

.creator-card img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #38bdf8;
}

.creator-card h3 {
    margin-top: 15px;
}

.role {
    color: #38bdf8;
    margin-bottom: 15px;
}

.creator-desc {
    font-size: 14px;
    opacity: 0.85;
    margin-bottom: 25px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-links a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: 500;
}

.project-link a {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 30px;
    background: #38bdf8;
    color: #020617;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    opacity: 0.6;
}
