body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* WRAPPER */
.add-vehicle-wrapper {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* FORM */
.vehicle-form {
    background: rgba(255,255,255,0.06);
    padding: 45px 50px;
    width: 100%;
    max-width: 560px;
    border-radius: 26px;
    box-shadow: 0 0 50px rgba(56,189,248,0.18);
    animation: fadeUp 0.6s ease;
}

.vehicle-form h1 {
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 30px;
}

/* FORM GROUP */
.form-group {
    margin-bottom: 20px;
    
}

.form-group label {
    font-size: 13px;
    margin-bottom: 6px;
    display: block;
    opacity: 0.85;
}

.form-group label span {
    color: #38bdf8;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px 14px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.15);
    background: rgba(226, 19, 19, 0.08);
    color: #fff;
    font-size: 14px;
    outline: none;
}
.form-group select{
    color: black;
}

.form-group input::placeholder {
    color: rgba(255,255,255,0.5);
}

.form-group input:focus,
.form-group select:focus {
    border-color: #38bdf8;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

/* BUTTON */
.submit-btn {
    margin-top: 10px;
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: #38bdf8;
    color: #020617;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(56,189,248,0.45);
}

/* ANIMATION */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .vehicle-form {
        padding: 35px 30px;
    }
}


