<nav>
    <h2 class="logo">Mech<span>NearMe</span></h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/howitworks">How It Works</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login" class="login-btn">Login</a></li>
    </ul>
</nav>